@import './reset.scss';

body {
	display: flex;
	justify-content: center;
	
}
hr {
	width: 350px;
	height: 1px;
	opacity: 0.2;	
	padding: 0;
}
.userContainer {
	width: 500px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.24);
	background-color: #ffffff;
	padding: 25px  20px 0 20px;
	font-family: Arial;
	position: relative;
}
.userInfo {
	width: 70%;
	margin-left: 30%;
	&__name {
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
		&-data {
			margin-left: 6px;
			color: #808080;
			font-family: Arial;
			font-size: 12px;
		}
	}
	&__post {
		font-size: 12px;
		font-weight: 400;
		color: #808080;
		line-height: 20px
	}
	&__title {
		width: auto;
		margin-top: 9px;
		padding: 10px 15px 10px 45px;
		margin-left: -45px;
		box-shadow: 0 0 0 1px rgba(60, 44, 0, 0.25);
		background-color: #fffbc8;
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
		border-radius: 4px
	}
	&__photo {
		position: absolute;
		left: 20px;
		top: 16px;
		width: 135px;
	}
	&__service {
		text-align: right;
		margin: 15px 33px 7px 0;
		color: #333333;
		font-family: "Arial";
		font-size: 14px;
		font-weight: 400;
		line-height: 15px;
	}
	.serviceInfo {
		display: flex;
		justify-content: space-between;
		width: 220px;
		margin-left: 0;
		&__diogram {
			 border-left: 1px solid rgba(black,0.2);
			 &-reserve { 
				background: rgba(#3cb305, 0.4);
				border-radius: 0 5px 5px 0;
				padding: 2px 7px;
				margin-bottom: 3px;
				font-size: 13px;
				overflow: visible;
				width: 200px;
				height: 26px;
				> p {
					width: 200px;
					margin-top: 6px;
				}
			 }
			 &-tour {
				overflow: visible;
				background: rgba(#30b6ee, 0.4);
				border-radius: 0 5px 5px 0;
				padding: 2px 7px;
				margin-bottom: 3px;
				font-size: 13px;
				width: 48px;
				height: 26px;
				> p {
					width: 100px;
					margin-top: 6px;
				}
			 }
			 &-hotel {
				width: 25px;
				height: 26px;
				background: rgba(#30b6ee, 0.4);
				border-radius: 0 5px 5px 0;
				padding: 2px 7px;
				font-size: 13px;
				> p {
					width: 100px;
					margin-top: 6px;
				}
			 }
		}
		&__value {
			margin-left: 33%;
			text-align: right;
			> p {
				padding-top: 8px;
    			height: 24px;
			}
		}
	}
	.serviceInfo__result {
		display: flex;
		justify-content: space-between;
		margin-top: 15px;
		color: #333333;	
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		width: 315px;
	}
	
}
.commentContainer {
		margin-top: 31px;
		display: flex;
		justify-content: space-between;
		&__info {
			display: flex;
			justify-content: space-between;
			width: 250px;
			&-title {
				font-size: 16px;
				line-height: 16px;
				font-weight: 600;
			}
			&-link {
				text-transform: none;
			}
		
		}
		&__icons{
			display: flex;
			flex-direction: row;
			> li {
				margin-left: 21px;
				list-style: none;	
			}
		}
	}
.messageContainer {
	margin-top: 13px;
	
	&__message {
		margin-top: 18px;
		&-text {
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
			border: 1px solid rgba(0, 0, 0, 0.19);
			background-color: #f2fbff;
			margin-top:15px; 
			padding: 18px;	
			position: relative;
			&::before {
				position: absolute;
				top: -10px;
				left: 20px;
				content: '';
				width: 0;
				height: 0;
				border-bottom: 10px solid rgba(0, 0, 0, 0.19); 
				border-right: 10px solid transparent;	
			}
			&::after {
				position: absolute;
				top: -7px;
				left: 21px;
				content: '';
				width: 0;
				height: 0;
				border-bottom: 8px solid #f2fbff; 
				border-right: 8px solid transparent;	
}
			
		}
	}
}
.sendMessage {
	margin: 20px -20px 0 -20px;
	background-color: #f2f2f2;
	padding: 20px  ;
		&__text {
			
			width: 99%;
			height: 70px;
			box-shadow: 0 1px 0 rgba(255, 255, 255, 0.44), inset 0 1px 2px rgba(0, 0, 0, 0.3);
			border: 1px solid #000000;
			background-color: #ffffff;
			border-radius: 2px;
			font-size: 16px;
			resize: none;
			&:focus {
				background: none repeat scroll 0 0 #FFFFFF;
				outline-width: 0;
			}
		}
		&__btn {
			width: 282px;
			height: 43px;
			background-color: #fdd639;
			border: none;
			outline: none;
			cursor: pointer;
			border-radius: 25px;
			font-size: 16px;
			font-weight: 700;
			margin: 38px 0 0 22%;
			transition: all easy 1s;
			&:hover {
				background-color: orange;
			}
		}
}

@media screen and (max-width: 570px) {
	li {
		font-size: 14px;
	}
	hr {
		margin-left: -26%;
		width: 346px;
	}
	.userContainer {
		width: 350px;
	}
	.userInfo{
		width: 400px; 
		&__photo {
			width: 100px;
			top: 60px;
		}
		&__title {
			width: 57%;
		}
		.serviceInfo {
		margin-left: -26%;
			&__result {
			margin-left: -26%;
			}
		}
	}
	.sendMessage__btn {
		margin: 38px 0 0 9%;
	}
	.commentContainer__info {
		width: 230px;
		&-link {
		
		font-size: 14px;
		}
		&-title {
			font-size: 14px;
		}
	}
}
